.header__lang-link {
  margin-right: 18px;
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  color: #fff;
  transition: opacity .4s;
}

/* .header__lang-link:last-child {
  margin-right: 0;
} */

.header__lang-link:hover {
  opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.1;
  }
}