.header {
  width: 100%;
  max-width: 1184px;
  min-height: 52px;
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 1024px) {
  .header {
    max-width: 928px;
  }
}