.header {
  width: calc(100%-(48px*2));
  margin: 0 auto;
  padding: 0 48px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .header {
    width: calc(100%-(24px*2));
    padding: 0 24px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: calc(100%-(16px*2));
    padding: 0 16px;
  }
} 