.intro {
  margin: 0 auto;
  max-width: 984px;
  padding-bottom: 7.2%;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    max-width: 90%;
    padding: 0 2.5% 9.3% 2.5%;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 0 3.1% 11.5% 3.1%;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    padding: 0 5% 20% 5%;
  }
}