.intro {
  margin: 0 auto;
  max-width: 984px;
  padding: 0 48px;
}

@media screen and (max-width: 1023px) {
  .intro {
    padding: 0 20px;
  }
}

@media screen and (max-width: 767px) {
  .intro {
    padding: 0 16px;
  }
}