.intro {
  margin: 0 auto;
  max-width: 984px;
  padding-bottom: 92px;
}

@media screen and (max-width: 1024px) {
  .intro {
    max-width: 928px;
  }
}

@media screen and (max-width: 950px) {
  .intro {
    max-width: 90%;
    padding: 0 24px 88px 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    padding: 0 24px 88px 24px;
  }
}

@media screen and (max-width: 690px) {
  .intro {
    max-width: 93%;
    padding: 0 20px 76px 20px;
  }
}

@media screen and (max-width: 320px) {
  .intro {
    max-width: 288px;
    padding: 0 16px 64px 16px;
  }
}