.cover__title {
  margin: 0 auto 32px auto;
  padding: 0;
  font-size: 72px;
  line-height: 1.05;
  font-weight: 900;
  max-width: 560px;
  text-align: center;
  position: relative;
}

@media screen and (max-width: 767px) {
  .cover__title  {
    font-size: 32px;
    max-width: 230px;
    line-height: 1.09;
    margin: 0 auto 16px auto;
  }
}