.place {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: fit-content(460px) 1fr;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-gap: 48px 32px;
    grid-template-columns: fit-content(440px) 1fr;
  }
}

@media screen and (max-width: 768px) {
  .place {
    max-width: 720px;
    grid-gap: 48px 28px;
    grid-template-columns: fit-content(340px) 1fr;
    padding-bottom: 72px;
  }
}