.place {
  max-width: 984px;
  margin: 0 auto;
  padding-bottom: 80px;
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: 152px 1fr;
  grid-gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
  .place {
    max-width: 928px;
    grid-gap: 48px 32px;
    grid-template-columns: 440px 1fr;
  }
}